<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to First Book</title>
		<link rel="stylesheet" type="text/css" href="/css/bookdetailse.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src = "/socket.io/socket.io.js"></script>
		<script>
			$(function(){
				$("#signout").hide();
				var socket = io();
				$("#signin").click(function(){
					$(".signbox").slideDown();
					$(".topcontainer").animate({
            			opacity: '0.3'
					});
					$(".midcontainer").animate({
            			opacity: '0.3'
					});
					$(".botcontainer").animate({
            			opacity: '0.3'
					});
				});
				$("body").on('dblclick',function(){
					$(".signbox").fadeOut();
					$(".topcontainer").animate({
            			opacity: '1'
					});
					$(".midcontainer").animate({
            			opacity: '1'
					});
					$(".botcontainer").animate({
            			opacity: '1'
					});
				});
				socket.on('loggedin',function(){
					$("#signin").hide();
					$("#signup").hide();
					$("#signout").show();
				});
				socket.on('loggedout',function(){
					$("#signin").show();
					$("#signup").show();
					$("#signout").hide();
				});
			})
		</script>
	</head>
	<body>
		<div class="signbox" hidden>
			<center>
				<h2>Sign In</h2><br>
				<form action="http://localhost:6500/signin" method="post">
					Username/Email: &nbsp;&nbsp;&nbsp;	
					<input type="text" name="username" required class="input"><br><br>
					Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="password" name="password" required class="input"><br><br><br>
					<button type="submit" class="submit">Sign In</button><br><br><br>
				</form>
			</center>
		</div>
		<br>
		<div class="topcontainer">
			<ul>
				<li><a href="/"><h1 id="home">First Book</h1></a></li>
				<li><a href="/">Books</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li><a href="/aboutus">About Us</a></li>
				<div class="sign">
					<li>
						<a href="/signup" id="signup">Sign Up</a>
						<button id="signin">Sign In</button>
						<a href="/logout" id="signout" hidden>Sign Out</a>
					</li>
				</div>
			</ul>
		</div>

		<div class="midcontainer">
			<img src="/images/ds.jpg">
			<div class="info">
				<h1>Discrete Structures</h1>
				<ul class="list">
					<li class="list"><b>Category</b>: Computation Maths</li>
					<li class="list"><b>Author</b>: Amar Mehta.</li>
					<li class="list"><b>Publisher</b>: Bookhub</li>
				</ul>
				<p>This is latest edition of Discrete Mathematics by Amar Mehta. Chapters are written in very easy language and one can understand easily. This book has been thoroughly studied and is easy to get grasp of this subject.</p>
				<p>Everything on this website is free. Enjoy!</p>
				<a href="/download/ds.pdf" id="download">Download</a>
			</div>
		</div>

		<center>
			<div class="botcontainer">
				<h5>Copyrights to Varun Mehta</h5>
			</div> 
		</center>
	</body>
</html>